body {
  background-color: rgb(72, 70, 72);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.widget {
  height: 30vmin;
  max-width: 44vmin;
  background-color: white;
  border-radius: 1vmin;
  overflow: hidden;
  display: flex;
  font-size: 2vmin;
}

.widget__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.5vmin;
}

.widget__text > * {
}

.widget__text-offer {
}

.widget__text-progress {
  height: 0.7vmin;
  width: 9vmin;
  background-color: rgb(223, 218, 223);
  border-radius: 1vmin;
}

.widget__text-timer {
}

.widget__text-timer--end {
  color: thistle;
}

.widget__text-coupon {
  border-radius: 0.7vmin;
  border-style: dashed;
  border-color: rgb(223, 130, 42);
  color: rgb(223, 130, 42);
  padding: 1vmin;
  font-size: 1vmin;
}

.widget__graphic {
}

.widget__graphic-image {
  height: 100%;
}

@media (max-width: 480px) {
}

* {
  box-sizing: border-box;
}
